* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style: none;
}
body {
  background-image: url('./../imgs/61769.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login--contanier {
  background-color: rgb(206, 206, 206);
  padding: 10px;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.login--form {
  height: 100%;
  padding: 10px;
  background-image: url('./../imgs/sdf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}
.login--input {
  width: 90%;
  height: 40px;
  font-size: 20px;
  border-radius: 7px;
  padding: 10px;
}
.login--btn {
  padding: 5px 50px;
  background-color: #666;
  cursor: pointer;
  border-radius: 7px;
  color: white;
  font-size: 25px;
}

.body--container {
  width: 90%;
  height: 80%;
  overflow: scroll;
  background-image: url('./../imgs/23.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scrollbar-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.nav--ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  padding: 10px;
  border-bottom: 1px solid #666;
}
.nav--ul > li {
  cursor: pointer;
  border: 2px solid #666;

  padding: 10px;
  border-radius: 10px;
}
.nav--ul > li:hover {
  background-color: #666;
  color: white;
}

.custmoer--contanier {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: calc(100% - 90px);
  margin: 20px auto;
}
.custmoer {
  background-color: white;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 7px;
}
.custmoer--info {
  width: 80%;
}
.custmoer--brn {
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
.cst--input {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 5px;
}
.cst--input:focus {
  outline: none;
  border: 1px solid gray;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cst--add {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  margin-bottom: 5px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  border: 1px solid #666;
}
.add--btn {
  padding: 5px 20px;
  background-color: #eee;
}
.bills {
  width: 30px;
  cursor: pointer;
}
@media screen and (min-width: 368px) and (max-width: 400px) {
  .login--contanier {
    width: 350px;
  }
  .body--container {
    width: 90%;
    height: 80%;
    position: absolute;
  }
}
